# Chặn file hệ thống và thư viện Python
__pycache__/
*.py[cod]
venv/
.env

# Chặn file database (Quan trọng: Không up dữ liệu bệnh nhân lên mạng)
*.db
*.sqlite3

# Chặn thư viện Node.js (Frontend)
node_modules/
dist/
.DS_Store